<title>Welcome to the MIKE Stack!</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="/kendo/bower_components/kendo-ui/styles/kendo.common-bootstrap.min.css"/>
  <link rel="stylesheet" href="/kendo/bower_components/kendo-ui/styles/kendo.bootstrap.min.css"/>
  <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'/>
  <link rel="stylesheet" href='/stylesheets/style.css'/>
  <script src='/kendo/bower_components/jquery/dist/jquery.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>            
  <script src='/kendo/bower_components/kendo-ui/js/kendo.ui.core.min.js'></script>
  <script src="/kendo/libs/contactmodule.js"></script>
  <script src="/kendo/app.js"></script>
