<!doctype html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

  <div id="app"></div>
  
  <% include ../partials/nav.ejs %>

  <% include home.ejs %>

  <% include contact.ejs %>

  
  
  <div id="main"></div>

  <script>
    (function() {
      MIKE.startApp();
    })();
  </script>


</body>
</html>